!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %title== Roosterbear 
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %link{:rel => "shortcut icon", :href => "favicon.ico"}
  %body
    #header
  %img{:id => 'faildolphin', :src => 'faildolphin.png'}
