!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %title== "ROOSTERBEAR" 
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %link{:rel => "shortcut icon", :href => "favicon.ico"}
  %body
    #header
    #pick_username{:style => "color:#FF0;"} 
      - if session[:error]
        = session[:error]
        - session[:error] = nil
      - if session[:openid]
        %p{:style => "margin-left:10px;color:#FFF;"} 
          Pick a username:
          %form{:method => "post", :action => "/save", :style => "margin-left:10px;"}
            %input{:type => "textarea", :name => "username"}
            %button{:type => "submit", :class => "btn"}
              %span
                %span
                  %b
                  Submit
