!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %title== Roosterbear
    %script{:type => "text/JavaScript", :src => "rounded_corners.inc.js"}
    %script{:type => "text/JavaScript", :src => "init.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "library.css"}
    %link{:rel => "shortcut icon", :href => "favicon.ico"}
  %body
    #header
      #nav
        %a{:href => "/"}
          View Your Posts &raquo;
      #title
        Recent Growlclucks
      #logout
        - if session[:openid]
          %a{:href => "logout"}
            Logout
            %strong
              = @username
    #posts
      #content
        - if @username
          - @allentries.each do |post|
            - post.each do |entry, username|
              .bubble
                .rounded
                  %blockquote
                    = auto_html(escaped entry)
                %cite.rounded
                  %a{:href => "/view/#{username}"}= username
    :javascript
      settings = {
      tl: { radius: 10 },
      tr: { radius: 10 },
      bl: { radius: 10 },
      br: { radius: 10 },
      antiAlias: true,
      autoPad: true
      }
      var myBoxObject = new curvyCorners(settings, "rounded");
      myBoxObject.applyCornersToAll();
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
      var pageTracker = _gat._getTracker("UA-9175003-1");
      pageTracker._trackPageview();
      } catch(err) {}