body {
  background-image:url('/background.png'); 
  background-color:#0a0a0a;
  background-repeat:repeat-x;
  font-family: 'Helvetica Neue';
  margin:0px;
}

h1, h2 {
  font-size:20px;
}

blockquote {
  overflow: hidden;
  text-align:center;
}

a {
  text-decoration: none;
  color:#FFF;
}

#faildolphin {
  margin-left:30%;
}

#sign_in_button {
  color: #FFF;
  vertical-align:bottom;
  margin: 0px;
  text-align:center;
}

#messagebox {
  position:relative;
  color:#FFF;
  clear:none;
  float:none;
  display:none;
  margin: 0px auto 0 auto;
  height: 200px;
  background: #FFF;
  z-index:2;
}

#messageform {
  position:relative;
  margin: 0px auto 0 auto;
  padding:0px;
  text-align:center;
}

#messageform input {
  width:99.9%;
  margin:0px;
  padding:0px;
  height:137px;
  font-size:100px;
  border:none;
}

#messageform button {
  display:none;
}

#pick_username {
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}

#posts {
  padding-top:50px;
}

#content {
  z-index:-1;
/*  background-image:url('/postyeah.png');
*/  background-repeat: no-repeat; 
}

#welcome {
  font-family: 'Helvetica Neue';
  color: #FFF;
  font-size: 48px;
  font-weight: bold;
  padding-top:10%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

#nav {
  float:left;
  color: #FFF;
  padding-left:15px;
  padding-top:15px;
}

#postToggle {
  float:none;
  color: white;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-right:140px;
  padding-top:3px;
}

#title {
  float:none;
  color: white;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-right:15px;
  padding-top:3px;
}

#postToggle img {
  position: relative;
  top: 4px;
  width: 25px;
  height: 25px;
}

#tagline {
  font-family: 'Helvetica Neue';
  font-size: 30px;
  font-weight: normal;
}

#tagline2 {
  padding-top:7px;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: normal;  
  font-style:italic;
}

#header {
  background-image:url('/bar.png'); 
  background-repeat:repeat-x;  
  padding:0px;
  height:50px;
  position:relative;
}

#send-comment {
  display:inline;
  height:25px;
}

#sign_in_button {
  position:absolute;
  top:7px;
  right:15px;
}

#logout {
  position:absolute;
  right:15px;
  top:15px;
}

#status {
  width:40%;
  padding-left:5px;
  height:19px;
  outline:none;
  font-size:14px;
}