body {
  background-image:url('/background.png'); 
  background-color:#0a0a0a;
  background-repeat:repeat-x;
  font-family: 'Helvetica Neue';
  margin:0px;
}

h1, h2 {
  font-size:20px;
}

a {
  text-decoration: none;
  color:#FFF;
}

img {
  vertical-align:bottom;
}

#faildolphin {
  margin-left:30%;
}

#messagebox, #sign_in_button {
  padding-top:10px;
  color: #FFF;
  vertical-align:bottom;
  margin: 0px;
  text-align:center;
}

#messagebox {
  padding-right: 150px;
}

#pick_username {
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}

#content {
  margin-top:50px;  
}

#welcome {
  font-family: 'Helvetica Neue';
  color: #FFF;
  font-size: 48px;
  font-weight: bold;
  padding-top:10%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

#nav {
  float:left;
  color: #FFF;
  padding-left:15px;
  padding-top:15px;
}

#title {
  color: white;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-right:160px;
  padding-top:3px;
}

#tagline {
  font-family: 'Helvetica Neue';
  font-size: 30px;
  font-weight: normal;
}

#tagline2 {
  padding-top:7px;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: normal;  
  font-style:italic;
}

#header {
  background-image:url('/bar.png'); 
  background-repeat:repeat-x;  
  padding:0px;
  height:50px;
  position:relative;
}

#send-comment {
  padding-left:10px;
  display:inline;
  height:25px;
}

#sign_in_button {
  position:absolute;
  right:10px;
}

#logout {
  position:absolute;
  right:15px;
  top:15px;
}

#status {
  width:40%;
  padding-left:5px;
  height:19px;
  outline:none;
  font-size:14px;
}